---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


@font-face {
    font-family: 'D2Coding';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a {
    color: #3d4144;
}

a:visited {
    color: #3d4144;
}

.sidebar p, .sidebar li {
    font-size: .80em;
}




@media (min-width: 37.5em) {
    .back_to_top .align-right {
        float: right;
        margin-left: 1em;
    }
}


.back_to_top .align-right {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.back_to_top .btn--primary {
    background-color: #6f777d;
    color: #fff;
}
.back_to_top .btn {
    display: inline-block;
    margin-bottom: 0.25em;
    padding: 0.5em 1em;
    font-family: "D2Coding",-apple-system,BlinkMacSystemFont,"Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
    font-size: .75em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-width: 0;
    border-radius: 4px;
    cursor: pointer;
}